.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    height: 116px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

/* Logo Styling */
.logo {
    img {
        width: 211px;
        height: 40px;
    }
}

.icon-logo {
    display: none;

    img {
        width: 40px;
        height: 40px;
    }
}

.nav-links {
    display: flex;
    list-style: none;
    background-color: #E8F0FE;
    padding: 12px 6px;
    border-radius: 20px;
    gap: 15px;

}

.nav-links li a {
    text-decoration: none;
    color: gray;
    padding: 8px 16px;
    border-radius: 20px;
    transition: 0.3s;
}

.nav-links .active {
    background-color: #4285F4;
    color: white;
}

.cart {
    button {
        background-color: #4285F4;
        color: white;
        padding: 10px 20px;
        border-radius: 34px;
        border: none;
        cursor: pointer;
        transition: 0.3s;
    }
}

.hamburger {
    display: none;
    font-size: 24px;
    cursor: pointer;
    color: #4285F4;
}

.btn-filter-mb {
    display: none;
}

@media (max-width: 768px) {
    .navbar .nav-links {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 116px;
        left: 0;
        right: 0;
        background-color: #E8F0FE;
        padding: 12px 6px;
        border-radius: 20px;
        gap: 15px;
    }

    .logo {
        display: none;
    }

    .icon-logo {
        display: block;
    }

    .navbar .nav-links.show {
        display: flex;
    }

    .hamburger {
        display: block;
    }

    .card-search {
        display: none;
    }

    .btn-filter-mb {
        display: block;

    }
}



body {
    font-family: "Noto Sans Thai", serif;
    /* font-optical-sizing: auto; */
    /* font-weight: <weight>; */
    /* font-style: normal;
    font-variation-settings:
        "wdth" 100; */
}

.btn-primary {
    background-color: #4285F4;
    color: white;
    padding: 8px 16px;
    border: none;
    cursor: pointer;
    transition: 0.3s;
}

.bg-primary {
    background-color: #4285F4;
    color: white;
}

.breadcrumb {
    padding: 30px 6px;
}

footer {


    color: white;
    text-align: center;
    height: 89px;

    .footer-row {
        display: flex;
        justify-content: center;
        background-color: #4285F4;

        ul {
            display: flex;
            list-style: none;

            li {
                font-size: 12px;
                margin-top: 10px;
                margin-right: 48px;
            }
        }
    }



    .container-fluid {
        .row {
            height: 41px;
            background-color: #3f6db6;

            .col {
                font-size: 12px;
            }
        }
    }


    @media screen and (max-width: 768px) {
        .footer-row {
            ul {
                li {
                    margin-right: 12px;
                }
            }
        }
    }
}

.container-carousel {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.carousel {
    width: auto;
    overflow: hidden;
    border-radius: 10px;
}

.carousel img {
    width: 450px;
    height: 281px;
    display: none;
}

.carousel img.active {
    display: block;
}

.controls-btn {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
}

.controls-btn button {
    background: rgb(255, 255, 255);
    border-radius: 50%;
    width: 34px;
    height: 34px;
    border: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: #469B4C;
}

.controls-btn button:first-child {
    left: -20px;
}

.controls-btn button:last-child {
    right: -20px;
}

.imageslide {
    display: flex;
    justify-content: center;
    margin-top: 24px;
}

.imageslide img {
    width: 68px;
    height: 46px;
    padding: 6px;
    border-radius: 4px;
    cursor: pointer;

}

.imageslide img.active {
    border: 2px solid #4285F4;
}

.imageslide img:hover {
    border: 2px solid #4285F4;
}

.sale {
    position: absolute;
    padding: 10px;
}

.sale span {
    font-size: 16px;
    display: flex;
    width: 101px;
    height: 44px;
    background-color: #EDFF00;
    border-radius: 1.3rem;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 768px) {

    .carousel img {
        width: 340px;
        height: 225px;
        display: none;
    }

    .imageslide img {
        width: 54px;
        height: 36px;
        padding: 6px;
        border-radius: 4px;
        cursor: pointer;
    }

}


.carousel-control-prev,
.carousel-control-next {
    background: rgb(255, 255, 255);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

    .carousel-control-prev-icon,
    .carousel-control-next-icon {
        background-color: #4285F4;
    }
}

.card-container {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    gap: 16px;
    padding: 16px;
    white-space: nowrap;
}

.card-container::-webkit-scrollbar {
    display: none;
}

.card-pdt {
    height: 326px;
    width: 270px;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    scroll-snap-align: start;
    border: 1px solid #BDBDBD;
    padding: 13px;

    img {
        width: 238px;
        height: 140px;
        border-radius: 6px;

    }

    .card-pdt-body {

        .card-pdt-title {

            font-size: 20px;
            font-weight: bold;
            color: #333;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        p {
            font-size: 14px;
            font-weight: 300;
        }
    }
}

.text-price {
    color: #4285F4;
    font-weight: 600;
    font-size: 24px;
}
