.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background: white;
    border: 2px solid blue;
    border-radius: 10px;
}

/* Logo Styling */
.logo {
    font-weight: bold;
    color: blue;
    font-size: 18px;
}

/* Navigation Links */
.nav-links {
    display: flex;
    list-style: none;
    background-color: #E8F0FE;
    padding: 12px 6px;
    border-radius: 20px;
    gap: 15px;
}

.nav-links li a {
    text-decoration: none;
    color: gray;
    padding: 8px 16px;
    border-radius: 20px;
    transition: 0.3s;
}

/* Active Link */
.nav-links .active {
    background-color: #4285F4;
    color: white;
}

/* Cart Icon */
.cart-icon {
    font-size: 20px;
    color: #4285F4;
    cursor: pointer;
}


body {
    font-family: "Noto Sans Thai", serif;
    font-optical-sizing: auto;
    /* font-weight: <weight>; */
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

.btn-primary {
    background-color: #4285F4;
    color: white;
    padding: 8px 16px;
    /* border-radius: 20px; */
    border: none;
    cursor: pointer;
    transition: 0.3s;
}

.breadcrumb {

    padding: 30px 6px;

}
